body{
    max-width: 1220px;
    margin: auto;
    padding-top: 16px;
}

a{
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#1F2937;
  
}


.logo{
    font-size: 24px;
    color:#F9FAF8;
}

.navigation {
    display: flex;
    gap: 16px;
   
}
.navigation a{
    font-size:  18px;
    color: #E5E7EB;
}